---
layout: post
title: "hello world"
date: 2012-06-03 22:05
meta: true
comments: true
tags:
---
%html
  %head
    %title 持续交付成熟度模型更新，新版本v1.2发布
  %body
    %h2 持续交付成熟度模型更新，新版本v1.2发布
    %p 《持续交付》一书中提供的“持续交付成熟度模型”是1.0版本。%br/ 这是经过再次调整的改进版，更具有指导性和可操作性。
    %p 使用说明：建议使用该模型进行现状分析，发现改进点，不建议将其作为绩效衡量的标准。
    %p 共有七个维度，它们分别是：
    :markdown
      1. *持续集成* （Continuous Integration)
      2. *环境与部署*（Environments and Deployments）
      3. *可视化与可追踪性*（Visibility and Traceability）
      4. *测试*（Testing）
      5. *（Data Management）*
    %p 每个维度又分成五个级别，它们分别是：
    :markdown
        # 一级：*退化级*（Regressive）
        # 二级：*可重复级*(Repeatable)
        # 三级：*可定义级*
        # 四级：*可定量级*（Quantitatively managed）
        # 五级：*改进级*（Optimizing）
    %p 更详细内容在


